<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.wyd.umeng_statistical_analysis">

    <!--检测联网方式，区分用户设备使用的是2G、3G或是WiFi-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，我们会将mac地址作为用户的唯一标识-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许应用程序联网，以便向我们的服务器端发送数据。-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data android:value="58081a9467e58e2a44000683" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="c360" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>
